* {
    margin: 0px;
    padding: 0px;
    font-family: 'open sans' courier;
}
.fContainer {
    margin: auto;
    padding: auto;
    background-color: antiquewhite;
    height: 100px;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.3);
}
body {
    margin: 0px;
    padding: 0px;   
    
}
.firstime {
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}
.secondtime {
    font-size: 25px;
    margin-left: 80px;
    font-weight: bold;
    color: brown;
}
.wrapper {
    margin: auto;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    flex-direction: row;
    padding: auto;
    line-height: 18px;
    display: flex;
    flex-wrap: wrap;
    z-index:1;
    width: 100%;
}
.active:hover{
  background: black;
  border-radius: 20px;
  width: 200px;
  color: burlywood;
}
.navigation {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}
.navigation > li {
    list-style-type: none;
    margin: auto;
    margin-top: 35px;
    margin-right: 5px;
}
.navigation > li > a {
    margin: 5px;
    padding: 20px 8px 20px 8px;
    text-decoration: none;
    color: black;
    flex-wrap: wrap;
    /* overflow: hidden; */
}
.navigation>li>a:hover {
    color: grey;
    font-weight: bold;
    text-decoration: solid;
    transition: all .3s ease-in-out;
}
.wrapper {
    margin: auto;
    justify-content: space-between;
    position: sticky;
    flex-wrap: wrap;
    padding: auto;
    /* background-color: pink; */
    line-height: 17px;
    display: flex;
    position: -webkit-sticky;
    /* top: 0;  */
}
.home {
  display: flex;
  flex-wrap: wrap;
  margin-right: 545px;
  margin-left: 545px; 
  width: 100%;
  position: relative;
}
.content {
    width: 100%;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin: auto;
    font-family: 'open sans' monospace;
    display: flex;
    flex-wrap: wrap;
    font-family: 'open sans' courier;
    position: relative;
    font-size: 10px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.life {
    color: brown;
    text-decoration: none;
}
.nextpage {
    border-radius: 40px;
    padding: 15px 10px 15px 10px;
    cursor: pointer;
    height: 10px;
    color: black;
    background-color: #F73D93;
    margin-left: 50px;
    text-decoration: none;
    overflow: hidden;   
}
a.nextpage:hover {
    background-color: black;
    color: grey;
}
p {
    margin: 5px 0px 5px 0px;
    padding: 10px 0px 10px 0px;
}
#skils {
    margin-top: 80px;
    padding: auto;
    width: 100%;
    background-color: #F73D93;
}
.greeting-head {
    text-align: center;
    padding: 16px;
}
.tre-active {
    text-decoration: none;
    color: brown;
    font-weight: bold;
}
.sklis-list {
    display: flex;
    position: relative;
    padding: auto;
}
.img-list {
    margin: auto;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-style: double;
    box-shadow: 0px 7px 10px 0px;
}
#media-learning {
    margin-top: 60px;
    padding: auto;
    width: 100%;
    position: sticky;
    top: 0;
}
.content-learning {
    padding: auto;
    margin: auto;
    display: flex;
}
.content-head {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: auto;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.head-one {
    text-decoration: none;
    color: brown;
}

.tutor-learning {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.list-tutor {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}
